body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #e41b17;
  background-image: url(http://www.transparenttextures.com/patterns/norwegian-rose.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-color: #fce5cd; */
}

.love-box {
  position: relative;
  padding: 20px;
  background-color: #ffcccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.love-text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#noBtn {
  transition: transform 0.5s ease-in-out;
}

.formdiv {
  position: absolute;
  top: 40%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  font-size: 24px;
  margin: -25px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  font-size: 20px;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  font-size: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
